# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
jspm_packages/

# Environment files
.env
.env.*.local

# Build output
dist/
build/

# Optional npm cache directory
.npm/

# VS Code settings
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Coverage directories
coverage/

# Temporary files
*.tmp
*.swp

# TypeScript cache
*.tsbuildinfo
